	<h1>Lunch Details</h1>
	<table class="table table-bordered">
	 <thead>
		<tr>
		<th>User Name</th>
		<th>Date</th>
		<th>Had Meal</th>
    <th>Action</th>
		</tr>
	</thead>
   <tbody>
		<% @lunchdetails.each do |lunchdetail| %>
		<% begin %>
		<tr>
      <td> <%= link_to "#{lunchdetail.user.name}", edit_lunch_detail_path(lunchdetail) %> </td>
			<td> <%= lunchdetail.date.strftime("%b %e, %Y")%> </td>
			<td> <%= lunchdetail.had_lunch? ? 'Yes' : 'No' %></td>
			<td> <%= link_to 'Destroy', lunch_detail_path(lunchdetail),:method => :delete , :data => { :confirm => 'Are you sure?' } %></td>
		</tr>
	    <% rescue Exception => e
           puts "user doesnot exists"
        end%>

	<% end %>
	</tbody>		
	</table>
	<p>
		<%= link_to 'Meal Register', new_daily_invoice_path, :class => "btn btn-primary"%>
	</p>
	
