<div class="col-xs-12">
  <div class="card">
    <div class="header"><h3>Expense Register</h3>
      <ul class="header-dropdown m-r--5">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
            <i class="material-icons">more_vert</i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li><%= link_to 'Load Previous Data', previous_record_path, remote: :true, method: :get, :class => "waves-effect waves-block" %></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="body">
      <div class="row">

        <%= form_for @custom_expense_type, remote: true do |c| %>

            <div class="col-xs-12">
              <div class="body">
                <div class="container" style="width: 170%;">
                  <div class="modal fade" id="custom_expense_modal_id" role="dialog">
                    <div class="modal-dialog">

                      <div class="modal-content">
                        <div class="modal-header">
                          <%= button_tag "x", class: "close", "data-dismiss": "modal" %>
                          <h4 class="modal-title">New Custom Expense Type</h4>
                        </div>
                        <div class="modal-body">

                          <%= c.label :Name %>
                          <%= c.text_field :name %>

                          <div class="modal-footer">
                            <%= button_tag "save", class: "btn btn-success btn-cons" %>
                            <%= button_tag "close", class: "btn btn-danger btn-cons", "data-dismiss": "modal" %>

                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                </div>

              </div>
            </div>

        <% end %>

        <!--Daily Invoices starts-->
        <%= form_for @invoice, html: {id: "invoice_form"} do |f| %>
            <% render partial: 'form', locals: {f: f} %>
        <% end %>
        <!--Daily Invoices ends-->
      </div>
    </div>
  </div>
</div>
</div>


