<div class="col-xs-12">
  <div class="card">
    <div class="header">
  <h1>Expense Details</h1>
    </div>
    <div class="body table-responsive">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <th>Bill Date</th>
          <td><%= @invoice.date.strftime("%d-%m-%Y") %> </td>
        </tr>
        <tr>
          <th>Users</th>
          <td><%= @users %> </td>
        </tr>
        <tr>
          <th>Dates</th>
          <td><%= @dates %> </td>
        </tr>
        <tr>
          <th>Restaurant Name</th>
          <td><%= @invoice.restaurant_name %></td>
        </tr>
        <tr>
          <th>Had Meal</th>
          <td><%= @expense_array.first.had_lunch? ? 'Yes' : 'No' %></td>
        </tr>
        <tr>
          <th>Amount</th>
          <td><%= @invoice.amount %></td>
        </tr>
        <tr>
          <th>Prepaid</th>
          <td><%= @invoice.is_prepaid %></td>
        </tr>
        <tr>
          <th>Type</th>
          <td><%= @expense_array.first.type %></td>
        </tr>
        <tr>
          <th>Custom Expense Type</th>
          <td><%= @expense_array.first.custom_expense_type.name rescue nil %></td>
        </tr>
        <tr>
          <th>Download</th>
          <td><%= link_to "ViewBill", @invoice.image.url, download: "ViewBill" %></td>
        </tr>
        </tbody>
      </table>
      <%= link_to 'Back', invoices_path, class: "btn btn-danger btn-cons" %>
    </div>
  </div>
</div>