<div class="col-xs-12">
  <div class="card">
    <div class="header">
      <h3>User Meals Details</h3>
    </div>
    <div class="body">
      <div class="row">
        <div class="col-xs-6" style="border-right:1px solid #bababa;">
          <div class="form-group">
            <%= label_tag :User, nil, style: "margin-right: 15px;" %>
            <%= select_tag 'user_id', options_for_select(@users.collect {|u| [u.name, u.id]}), prompt: "Select User" %>
          </div>
          <div class="form-group hidden", id="form_group_amount_to_be_paid_id">
            <div class="form-line">
              <%= label_tag :Amount_to_be_paid %>
              <%= text_field_tag :amount_to_be_paid, nil, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <%= label_tag :select_month, nil, style: "margin-right: 15px;" %>
            <%= select_month(0, prompt: "Select Month", id: "date_month") %>
          </div>
          <div class="table-responsive hidden", id="table_responsive_id">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Working Days</th>
                <th>Had Lunch Days</th>
              </tr>
              </thead>
              <tbody id="table_id">
              <tr>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
        <div class="form-group">
          <%= link_to "Pay", new_user_payment_path, method: :get, id: "new_user_payment_id", class: "btn btn-success btn-cons" %>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 $(document).ready(function(){

     $('#user_id').on('change', function() {
         $("#form_group_amount_to_be_paid_id").removeClass("hidden");
         var user_id = $(this).val();
         $.ajax({url: '/user_details/',
             type: 'GET',
             data: { id: user_id },
             dataType: 'script',
             success: function(data) {
             }
         });
     });

     $('#date_month').on('change', function() {
         $("#table_responsive_id").removeClass("hidden");
         var user_id = $("#user_id").val();
         var date_month_id = $(this).val();
         $.ajax({url: '/user_details/',
             type: 'GET',
             data: { id: user_id, month_no: date_month_id },
             dataType: 'script',
             success: function(data) {
             }
         });
     });


 });
</script>