<div class="col-xs-12">
  <div class="card">
    <div class="header">
      <h1>Editing Custom Expense Tyep</h1>
    </div>
    <%= form_for(@custom_expense_type) do |f| %>
        <div class="form-group">
          <% if @custom_expense_type.errors.any? %>
              <div id="error_explaination">
                <h2><%= pluralize(@custom_expense_type.errors.count, "error") %> prohibited this custom expense from being saved:</h2>
                <ul>
                  <% @custom_expense_type.errors.full_messages.each do |message| %>
                      <li><%= message %>
                      </li>
                  <% end %>
                </ul>
              </div>
              </div>
          <% end %>
          <div class="body">
            <fieldset>

              <div class="form-group">
                <div class="form-line">
                  <%= f.label :Name %>
                  <%= f.text_field :name, :class => 'form-control' %>
                </div>
              </div>

              <button type="save" class="btn btn-success btn-cons">Save</button>
              <%= link_to 'Cancel', custom_expense_types_path, :class => "btn btn-danger btn-cons" %>
            </fieldset>
          </div>
    <% end %>
  </div>
</div>
