<div class="col-xs-12">
  <div class="card">
    <div class="header">Add User Payments</div>
    <div class="body">
      <%= form_for (@userpayment), html: {id: "user_payment_form"} do |f| %>
          <div class="form-group">
            <%= f.label :User, style: "margin-right: 15px;" %>
            <%= f.select 'user_id', options_for_select(@users.collect {|u| [u.name, u.id]}), :class => 'form-control' %>
          </div>
          <div class="form-group">
            <div class="form-line">
            <%= f.label :Amount_paid %>
            <%= f.text_field :amount_paid, :class => 'form-control required' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :Payment_gateway, style: "margin-right: 15px;" %>
            <%= f.select 'payment_mode_id', options_for_select(@paymentmodes.collect {|u| [u.payment_gateway, u.id]}), :class => 'form-control' %>
          </div>
          <div class="form-group">
            <div class="form-line">
            <%= f.label :Comment %>
            <%= f.text_area :comment, :class => 'form-control required', :id => 'comment' %>
            </div>
          </div>
          <div class="form-group">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-3">

                  <%= f.label :Date %>
                  <%= f.text_field :date, :class => 'form-control required', :id => 'user_payment_date' %>
                </div>
              </div>
            </div>
          </div>

          <button type="Pay" class="btn btn-success btn-cons">Pay</button>
          <%= link_to 'Cancel', user_payments_path, :class => "btn btn-danger btn-cons" %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#user_payment_date").datepicker({dateFormat: "yy-mm-dd"});
    });
</script>