<div class="col-md-10 col-md-offset-1">
  <h1>Expense Details</h1>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Filter
          <div class="pull-right" data-toggle="collapse" data-target="#demo">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></div>
        </h4>
      </div>

      <div id="demo" class="panel-body collapse panel-collapse">
        <%= form_tag(expenses_path, :method => "get", id: "filter-form") do %>
            <div class="row">
              <div class="col-xs-12 filter-label">
                <label for="male">Names:</label>
                <% User.all.each do |c| %>
                    <% @user_checked = params[:user_ids] %>
                    <div class="checkbox-inline filter-checkbox">
                      <% if params[:user_ids].present? && (params[:user_ids].include? c.id.to_s) %>
                          <%= check_box_tag "user_ids[]", c.id, @user_checked %>
                      <% else %>
                          <%= check_box_tag "user_ids[]", c.id %>
                      <% end %>
                      <%= c.name %>
                    </div>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 filter-label">
                <label for="type">Types:</label>
                <% Expense::EXPENSE_TYPES.each do |type| %>
                    <% @expense_checked = params[:type_ids] %>
                    <div class="checkbox-inline filter-type">
                      <% if params[:type_ids].present? && (params[:type_ids].include? type.to_s) %>
                          <%= check_box_tag "type_ids[]", type, @expense_checked %>
                      <% else %>
                          <%= check_box_tag "type_ids[]", type %>
                      <% end %>
                      <%= type %>
                    </div>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5 filter-label">
                <label for="date">Date:</label>
                <div class="checkbox-inline filter-date">
                  <input type="text" name="date" value="<%= params[:date] %>" class="date"/>
                </div>
              </div>
            </div>
            <div clas="clearfix"></div>
            <br/>
            <div class="row">
              <div class="col-xs-12 form-group filter-label pull-left">
                <%= submit_tag "Apply", name: nil, class: "btn btn-success btn-cons" %>
                <%= link_to 'Cancel', expenses_path, class: "btn btn-danger btn-cons" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="pull-left">
          <%= link_to 'Add Expense', new_expense_path, :class => "btn btn-primary" %>
        </div>
        <div class="pull-right">
          <%= form_tag(expenses_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Expenses" %>
              <%= submit_tag "Search", :name => nil %>
          <% end %>
        </div>
        <div class="clearfix"></div>
        <p></p>

        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Had Meal</th>
            <th>Restaurant Name</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Download</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <% @expenses.each do |expense| %>
              <tr>
                <td><%= expense.date.strftime("%b %e, %Y") %> </td>
                <td><%= link_to "#{expense.user.name}", edit_expense_path(expense.daily_invoice) %> </td>
                <td><%= expense.had_lunch? ? 'Yes' : 'No' %></td>
                <td><%= expense.daily_invoice.restaurant_name %></td>
                <td><%= expense.daily_invoice.amount %></td>
                <td><%= expense.type %></td>
                <td><%= link_to "ViewBill", expense.daily_invoice.image.url, download: "ViewBill" %></td>
                <td><%= link_to 'Edit', edit_expense_path(expense.daily_invoice) %> |
                  <%= link_to 'Destroy', expense_path(expense.daily_invoice), :method => :delete, :data => {:confirm => 'Are you sure?'} %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <% if @expenses.blank? %>
            <div id="error_explaination">
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <p class="text-center"> No results were found </p>
              </div>
            </div>
        <% end %>
        <div class="text-center"><%= will_paginate @expenses, renderer: BootstrapPagination::Rails %></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $(".date").datepicker({dateFormat: "yy-mm-dd"});
  });
</script>


